.Calendar-Container {
  width: 994px;
  margin-left: 25px;
  background: white;
  border: 1px solid #d7d7d9;
  border-radius: 12px;
  padding: 25px;
}

.Calendar-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.Header-Left {
  font-size: 24px;
  font-weight: 600;
}

.Header-Right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Arrow-Button {
  padding: 6px 10px;
  background: #f0f0f2;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.Month-Select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
}

.Weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  color: rgba(128, 128, 128, 0.733);
}

.Days-Grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
}

.Days-Box {
  height: 146.5px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: white;
  transition: 0.2s;
}

.Days-Box:hover {
  background: #f5f5f7;
}

.Days-Number {
  font-size: 14px;
  color: #333;
}

.Tag {
  font-size: 11px;
  padding: 4px 8px;
  background: #f7f3bd;
  color: #706c18;
  border-radius: 5px;
  width: fit-content;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-Box {
  width: 458px;
  height: 278px;
  background: white;
  border-radius: 10px;
  opacity: 1;

  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);

  padding: 20px;
  position: relative;
}

.Close-Btn {
  margin-top: 20px;
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.Month-Dropdown {
  position: absolute;
  top: 40px; /* this puts it directly below the Month-Select /
left: 0;
width: 150px; / adjust as needed /
height: 70px; / this makes the month section scrollable Scrollable */
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.Month-Dropdown::-webkit-scrollbar {
  width: 6px;
}
.Month-Dropdown::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

.Month-Dropdown-Item {
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  background: #f7f7f7;
  margin-bottom: 3px;
}

.Month-Dropdown-Item:hover {
  background: #eaeaea;
}
