.Calendar-Container {
  width: 994px;
  margin-left: 25px;
  background: white;
  border: 1px solid #d7d7d9;
  border-radius: 12px;
  padding: 25px;
}

.Calendar-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.Header-Left {
  font-size: 24px;
  font-weight: 600;
}

.Header-Right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Arrow-Button {
  padding: 6px 10px;
  background: #f0f0f2;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.Month-Select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
}

.Weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  color: rgba(128, 128, 128, 0.733);
}

.Days-Grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
}

.Days-Box {
  height: 146.5px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: white;
  transition: 0.2s;
}

.Days-Box:hover {
  background: #f5f5f7;
}

.Days-Number {
  font-size: 14px;
  color: #333;
}

.Tag {
  font-size: 11px;
  padding: 4px 8px;
  background: #f7f3bd;
  color: #706c18;
  border-radius: 5px;
  width: fit-content;
}
