.SpecialNote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 10px;
}

.thunderimg {
  width: 22px;
  height: 18px;
}

.SpecialNote p {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.SomethingImportant p {
  margin-top: 6px;
  color: gray;
}

.Container {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 1em;
  padding-left: 5px;
  width: 780px;
  height: 115px;
}

.UpperPart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5em;
}

.WriteText {
  display: flex;
  padding-left: 0.5em;
}

.WriteText input {
  width: 600px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.192);
  border: 1px solid rgba(128, 128, 128, 0.192);
  border-radius: 10px;
}
