.SunImage {
  width: 40px;
  height: 40px;
}

.SidebarContainer {
  font-family: sans-serif;
}

.countdownContainer {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
  align-items: center;
  color: gray;
}

.countdown {
  display: flex;
  flex-direction: column;
  /* gap: -10px; */
  margin: 0;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
}

.countdown p {
  margin: 0.2em;
}

.countdown p:first-child {
  margin-top: 1.5em;
}

.countdownText {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

.SubContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 11.7em;
  padding: 0 10px;
  margin-top: 1em;
}

.ScheduleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 13em;
  /* padding: 10px 10px; */
  padding-bottom: 15px;
  margin-top: 1em;
  font-weight: bold;
}

.ScheduleButton {
  background-color: black;
  color: white;
  width: 13em;
  padding: 10px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
}

.ScheduleBox p {
  width: 11em;
  font-size: 1em;
}

.MidHeaderSidebar {
  display: flex;
  gap: 1em;
}

.Bellow-Header {
  display: flex;
}
